interative.asl.json
{
  "Comment": "A state machine that interprets Slack interative messages.",
  "StartAt": "Transform",
  "States": {
    "Transform": {
      "Type": "Task",
      "Resource": "${TransformFunctionArn}",
      "Next": "Which Action Type?"
    },
    "Which Action Type?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.action",
          "StringEquals": "createGroup",
          "Next": "Show Create Group"
        },
        {
          "Variable": "$.action",
          "StringEquals": "destroyGroup",
          "Next": "Delete Group"
        }
      ],
      "Default": "No Action Found"
    },
    "Show Create Group": {
      "Type": "Task",
      "Resource": "${CreateGroupFunctionArn}",
      "End": true
    },
    "Delete Group": {
      "Type": "Task",
      "Resource": "${DestroyGroupFunctionArn}",
      "End": true
    },
    "No Action Found": {
      "Type": "Fail",
      "Cause": "Could not find a valid action"
    }
  }
}